@keyframes mymove1to0 {
    0% {top: -200px; left: -1200px;}
    /* 75% {top: 100px;} */
    100% {top: 0; left: 0;}
}
@keyframes mymove1to1 {
    0% {top: -200px; left: -1200px;}
    /* 75% {top: 100px;} */
    100% {top: 0; left: 0;}
}
@keyframes mymove0to1 {
    0% {top: -200px; left: 900px;}
    /* 75% {left: -200px;} */
    100% {top: 0; left: 0;}
}
@keyframes mymove0to0 {
    0% {top: -200px; left: 900px;}
    /* 75% {left: -200px;} */
    100% {top: 0; left: 0;}
}
*:hover {
    cursor: pointer;
}
.row {
    margin: 0;
}

body{
    background-image: radial-gradient(rgb(0,0,0),rgb(60,60,60));
    color: white;
    font-size: 22px;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Mate SC','Oxygen', sans-serif;
}

#head{
    color: black;
    background-color: white;
    font-family: 'Squada One', cursive;
}

#head h1{
    padding: 3%;
    font-size: 60px;
    position: relative;
    animation: mymove0to0 3s 1;
}

#input{
    background-color: lightskyblue;
    color: black;
    width: 18%;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

#inputtable {
    text-align: center;
    position: relative;
    animation: mymove0to1 3s 1;
    /* width: 80vw; */
}
td:hover, th:hover {
    color: black;
    background-color: white;
}

#submit{
    margin-top: 1%;
    size: 20px;
    border-radius: 10%;
}

#submit:hover{
    background-color: lightblue;
}

#aligning{
    text-align: center;
    margin: 1%;
    padding: 1%;
    position: relative;
    animation: mymove1to1 3s 1;
}
#gantttext {
    text-align: center;
    position: relative;
    animation: mymove1to0 3s 1;
}
#aligning label{
    margin-right: 10px;
}

#inputtable{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

table, tr{
    border: 2px solid white;
    text-align: center;
    width: 80%;
    position: relative;
    animation: mymove0to0 3s 1;
}
tr {
    animation: mymove1to1 3s 1;
}

#info label, #submitAB{
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 10px;
    position: relative;
    animation: mymove0to1 2s 1;
}
.arriveinput, .burstinput{
    position: relative;
    animation: mymove0to1 2s 1;
    text-align: center;
}
#submitAB:hover{
    background-color: lightblue;
}

#table td, #table th{
    border: 2px solid white;
}
#totalavg{
    background-color: white;
    color: black;
}

#totalavg div{
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 28px;
}

#gantt span{
    background-color: burlywood;
    
}

.gChart{
    /* width: 50px; */
    display: inline-block;
    padding:10px;
    width: 50px;
    outline: 1px solid black;
}
.gChart:hover {
    box-shadow: none;
}
.gChartValues{
    padding: 0;
    width: 50px;
    margin-top: 10px;
    outline: none;
}
